<%- include ('header') %>

  <form method="GET" action="/calculo">
    <input name="nome" placeholder="Nome do fundo"><br>
    <input name="cotas" placeholder="Numeros de contas"><br>
    <input name="valor" placeholder="Valor da cota"><br>
    <input name="dividendo" placeholder="Dividendo"><br>

    <button>Calcular</button>

  </form>

  <%- include ('footer') %>


    <% /* <label type="dividendo"> Valor a receber: </label>
      <input name="invertimento" placeholder=""><br>

      */%>